<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../../js/bootstrap.min.js" type="text/javascript"></script>
<title>Crear Nueva Producto</title>
</head>
<body>


	<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-row">
		<a class="navbar-brand mr-auto" href="/"> <img
			src="../imagenes/idatLogo_1.jpg" class="img-fluid"
			alt="Responsive image">
		</a>
		<ul class="navbar-nav flex-row mr-lg-0">
			<li class="nav-item"><a class="nav-link pr-2"><i
					class="fa fa-search"></i></a></li>
			<li class="nav-item"><a class="nav-link pr-2"><i
					class="fa fa-facebook"></i></a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle mr-3 mr-lg-0"
				id="navbarDropdownMenuLink" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i><span
					class="caret"></span> </a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="navbarDropdownMenuLink">
					<a
						class="dropdown-item" th:href="@{/logout}">Salir</a>
				</div></li>
		</ul>
		<button class="navbar-toggler ml-lg-0" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<nav class="navbar navbar-expand-md navbar-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" id="nav-link-custom"
					th:href="@{/bienvenida}">IDAT</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/peliculas/listarTodo}">Peliculas</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Modulo2</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Modulo3</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Modulo4</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Modulo5</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Buscar">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
	</nav>

	<section id="seccion1">
			<p>Datos de Nuevo Producto</p>
			<form th:action="@{/productos/guardar}"
				th:object="${producto}" method="post">

				<div class="form-group row">
					<label for="id" class="col-sm-2 col-form-label">ID Producto:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="id"
							 th:field="*{idProducto}" readonly="readonly" />
					</div>
				</div>


				<div class="form-group row">
					<label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nombre"
							placeholder="Nombre Producto" th:field="*{nombre}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="duracion" class="col-sm-2 col-form-label">Descripcion:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="duracion"
							placeholder="Descripcion" th:field="*{descripcion}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="clasificacion" class="col-sm-2 col-form-label">Imagen:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="clasificacion"
							placeholder="Imagen.jpg" th:field="*{imagen}" />
					</div>
				</div>
				<div class="form-group row">
					<label for="idioma" class="col-sm-2 col-form-label">Precio:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="idioma"
							placeholder="Precio" th:field="*{precio}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="genero" class="col-sm-2 col-form-label">
						Cantidad:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="genero"
							placeholder="Cantidad" th:field="*{cantidad}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="formato" class="col-sm-2 col-form-label">
						Categoria:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="formato"
							placeholder="Categorias" th:field="*{categorias}" />
					</div>
				</div>
				
				<div class="form-group row">
					<label for="formato" class="col-sm-2 col-form-label">
						Marca:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="formato"
							placeholder="Marca" th:field="*{marcas}" />
					</div>
				</div>
				
				<!--
				<div class="form-group row">
					<label for="formato" class="col-sm-2 col-form-label">
						Usuario:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="formato"
							placeholder="Usuario" th:field="*{usuarios}" />
					</div>
				</div>

   -->
			

				<div align="center">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>


			</form>
	</section>


	
</html>