<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listar Marcas</title>
<!-- CSS only -->
<link

        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        
         crossorigin="anonymous">



</head>
<body>

        <br> <br> <br>


	<div align="center">
		<div class="container">

			<div class="row">
				<h1>Categorias</h1>
			</div>
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						
						
					
					</tr>
				</thead>
				<tbody>
						<tr th:each="categorias : ${listacategorias}">
						<td th:text="${categorias.idCategoria}">Id</td>
					    <td th:text="${categorias.nombre}">nombre/<td>
					    <td th:text="${categorias.Descripcion}">descripcion</td>
					   
			
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
crossorigin="anonymous"></script>