<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Acceso Denegado</title>

 <!-- BootStrap -->
 <link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>
<body>

<div class = "container">
   
   <div class="jumbotron">
   
     <h1 class="display-4">No Autorizado</h1>
     
     <p class="lead">This a Simple Warning, User No Authorize , see you leater good bye</p>
     
     <hr class="my-4">
     
     <p class="lead">This a Simple Warning, User No Authorize , see you leater good bye</p>
     
   <a class="btn btn-warning btn-lg" href="#" role="button">Regresar al Loging</a>
   
   </div>


</div>




	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>