<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Admin</title>


<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{css/custom-features.css}" rel="stylesheet">


</head>
<body>

<!-- Navigation -->
    <div th:include="fragments/fragment_admin.html::header" >
    
    </div>




<h1>Todo lo que tendra la paginas de los administradores</h1>







	<!-- Footer -->
	<div th:include="fragments/fragment_admin.html::footer">
	
	</div>
	
	
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>