<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Login</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{css/custom-features.css}" rel="stylesheet">


</head>
<body>

	<strong>Usuario Registrado exitosamente, Ir al Loguin <a
		class="nav-link active" th:href="@{/login}"> <i
			class="far fa-user-circle"></i> Login
	</a></strong>



	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/fontawesome-icons.min.js"></script>
</body>
</html>